/*  HOME-PAGE : start*/

/*   HOME-PAGE  nav*/
nav.navbar{border: none;}
.container-fluid{background-color: black; border: none;}
.container-fluid ul li a i{opacity: 1;color: white;}
.container-fluid ul li a i:hover{opacity: 0.5;color: white;}
.container-fluid ul li a.User{color: white;}
.container-fluid ul li.dropdown-header{background-color: black;color: white;height: 30px;padding-top: 6px;}
.container-fluid .navbar-header{margin-left: 27px;text-align: center;}
.container-fluid .navbar-header a{color: white;font-weight: normal; font-family:"manaco"}
.container-fluid .navbar-header a:hover{color: #646464;font-weight: normal; font-family:"manaco";opacity: 0.8;}
/*  BUTTON array*/
.container{width: 100%;height: 100%;padding-left: 0px;padding-right: 0px; }
.container ul.nav{ margin-top: 50px;float: left;height: 1150px;background-color: black;margin-left: 0px;padding-right: 0px;}
.container ul.nav li a{width: 100%; 
	background: #3a3a3a;
	height: 50px;
	border: none; 
	border-bottom: 1px solid #646464;
	outline:none;
	vertical-align:middle;
-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;}
.container ul.nav li a:hover{background: #eeeeee;}
.container ul.nav li a i{margin-top: 8px;margin-left: 23px;	float: left;}
.container ul.nav li a i.YYvisible{margin-top: 8px;margin-right: 50%;margin-left: 50%;}
.container ul.nav li a p{margin-top: 6px;margin-left: 6px; color: white;float: left;}
.container ul.nav li .panel{
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
	border: none;}
.container ul.nav li.panel-group{margin-bottom: 0px;}
.container ul.nav li .panel .panel-heading{padding:0px 0px 0px 0px;border: none;}
.container ul.nav li .panel-collapse .panel-body{padding: 0px 0px 0px 0px;}
.container ul.nav li .panel-collapse .panel-body button.btn{width: 100%;height: 50px;}
/*  HOMEPAGE adress*/

.contentBox{height: 1100px; background-color: gray;padding-left: 0px;padding-right: 0px;}
.contentBox .breadcrumb{height: 50px;width: 100%;margin-top: 50px;margin-left: 0px; background-color: #eeeeee;padding-top: 15px;
-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;}

.contentBox .Inhtml{height:1100px;width: 100%;background-color: yellow; margin-top: -20px;}
.contentBox .Inhtml iframe{width: 100%;height:1100px ;}
